body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*background: color image repeat position/size */
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
  /*Utilizou essa função para simplificar todo o estilo do plano de fundo na página*/
}
* {
  /*Resete de CSS -->Utilização do seletor universal para mudar as caracteristicas */
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; /* Estudar melhor depois */
}

body * {
  font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

#container {
  width: 360px;
  height: 712px;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  display: block;
  width: 115px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

ul {
  list-style: none;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinhar os elementos da lista */
  padding: 16px 24px;
}
